.side-bar
  .side-bar__user--header
    .side-ber__user--box
      %p.side-bar__user__box--name uuu
      %ul.side-bar__user__box__list
        %li.side-bar__user__box__list--new-group
          = link_to "#" do
            %i.fa.fa-edit
        %li.side-bar__user__box__list--edit-user
          = link_to "#" do
            %i.fa.fa-cog
      
  .groups
    = link_to "#" do
      .group
        %p.group__name test group
        %p.group__latest__message まだメッセージがありません
    = link_to "#" do
      .group
        %p.group__name test group2
        %p.group__latest__message まだメッセージがありません2

    